.color {
    border: black solid 1px;
    padding: 50px;
    margin-right: 10px;
    display: inline-block;
}

#button-random-color {
    padding: 50px;
    color: white;
    background-color: black;
}

#clear-board {
    padding: 50px;
    color: white;
    background-color: black;
    max-width: 50px;
}

/* .display {
    display: flex;
    display: inline-block;
} */
header {
    display: flex;
    justify-content: center;
}

.paleta-container {
    display: flex;
    justify-content: center;
}

.botoes-container {
    display: flex;
    justify-content: center;
}

#container-pixel {
    display: flex;
    justify-content: center;
      
}

#pixel-board {
    border: solid black 1px;
    width: 212px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.pixel {
    height: 40px;
    width: 40px;
    border: black solid 1px;
    flex-grow: 1;
    
    
    
}