.color {
    border: black solid 1px;
    padding: 50px;
    margin-right: 10px;
    display: inline-block;
}

#button-random-color {

    padding: 50px;
    color: white;
    background-color: black;
}

.inline {
    display: inline-block;
}